
@media print {
    #header #nav, #header #logo h1, #topnav ul{
        display:none;
    }
}
#header #logo{
    display:block;
}
#header {
    background: white;
    display:block;
    font-size: 0.8em;
    left: 0;
    padding: 1em 1.5em;
    position: relative;
    margin-top: 30px;
    padding-bottom: 80px;
    top: 0;
    width: 100%;
}
#header h1 {
    display:block;
    width:40%;
    float:left;
    margin: 0;
    font-weight:bolder;
    font-size:50px;
    margin-left:50px;	
}
#header h1 a{
    text-transform:uppercase; 
    font-family:Verdana, Arial, Helvetica, sans-serif;
    text-decoration:none;
    color:#65645F;
}
#topnav ul {
    box-shadow: 0px 0px 3px #65645F;
    text-shadow: 1px 1px 2px #65645F;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-bottom:10px; 
    width:100%;
    font-size:15px; 
    font-weight:bolder; 
    text-transform:uppercase; 
    font-family:Verdana, Arial, Helvetica, sans-serif; 
    color:#FFFFFF; 
    background-color:#E0DED3;
}
#nav {
    display:block;
    position:relative;
    width:35%;
    float:right;
    padding-right:50px;
}

#nav ul{
    box-shadow: 0px 0px 2px #65645F;
    text-shadow: 0px 0px 0px #65645F;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display:block;
    margin-bottom:10px; 
    width:100%;
    font-size:13px; 
    font-weight:bold; 
    text-transform:uppercase; 
    font-family:Verdana, Arial, Helvetica, sans-serif; 
}
#nav li{
    float:left;
    display:block;
    width:33.33333%;
    min-width:30px;
    background-color:#FFFFFF;
}
#topnav li {
    float: left;
    width: 16.666666%;
    min-width:130px;
}

#topnav li a:link,#topnav li a:visited , #nav li a:link,#nav li a:visited {
    display: block;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #98bf21;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin:0; 
    padding:13px 10px;
    background-color:#E0DED3;
}
#nav li a:link, #nav li a:visited {
    padding:3px 3px;
    color:#65645F;
    background-color: #FFFFFF;
}

#topnav li a:hover, #topnav li.active a{
    color:#FFFFFF; 
    background-color:#CAC8BE;
}
#nav li a:hover, #nav li.active a{
    text-shadow: 0px 1px 1px #65645F;
}